
H1 {font-size: 444%;}
H1 {font-family: times new roman;}
H1 {color: #425DB7;}
H2 {color: #425DB7;}
Body {background-color: #425DB7;}
Body {color: #2874A6;}
P {font-size: 124%;}
P {color: #154360;}
P2 {font-size: 150%;}
ul {font-size: 175%;}
P3 {font-size: 80%;}
P3 {color: #154360;}
P4 {color: #154360;}
	.spacing {
	  background-color: #F5B7B1;
	  color: #425DB7;
	  padding: 20px;
