H1 {color: #5DADE2;} 
H1 {font-size: 500%;}
H1 {font-family: open sans;}
Body {background-color: #D7BDE2;}
Body {color: #2874A6;}
P {font-size: 150%;}
P2 {font-size: 175%;}
ul {font-size: 175%;}
P3 {font-size: 80%;}
P4 {text-align: center;}

			.Bio {
			  background-color: #F5B7B1;
			  color: #154360;
			  padding: 20px;
